*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  color: black;
  background-color: rgb(211, 220, 228);
  height:2500px;
  width: 100%;
  align-items: center;
}
h1{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.nav{
   display: flex;
   justify-content: left;
   align-items: center;
   margin-top:  100px;
   margin-left: 20px;
}
.btns{
  font-size:  30px;
  font-weight: 700;
  cursor: pointer;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(172, 192, 236);
  margin-left: 40px;
}
.btns:hover{
  color: white;
  background-color: blue;
 
}
.main-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.card{
  height: 900px;
  width: 700px;
  background-color: white;
  margin-top: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  
}
.image{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 400px;
  width: 650px;
  margin: 20px;
  border-radius: 20px;
  border-radius: 20px;
}
.card button {
  position: relative;
  bottom: 44%;
  margin-left: 18%;  
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 28px;
  background-color: white;
  color: blue;
  font-size: 30px;
  font-weight: bold;
}
.icon  {
  position: relative;
  bottom: 40%;
  margin-left: 38%;  
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  color: blue;
}
.det2{
  display: flex;
  flex-direction: row;
  padding: 29px;
  color: blue;
  font-size: 30px;
  align-items: center;
  bottom: 20%;
}
.det2-1{
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 100px;
  margin-left:17%;  
  transform: translate(-50%, -50%);
  color: black;
}
.p{
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.name{
  color: black;
}
.det3{
  display: flex;
  flex-direction: row;
  padding: 29px;
  color: blue;
  font-size: 30px;
  align-items: center;
  bottom: 20%;
}
.det3-1{
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 120px;
  margin-left: 33%;  
  transform: translate(-50%, -50%);
  color: black;
}
.det4{
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 28px;
  align-items: center;

  
}
.det4-1{
  position: relative;
  flex-direction: row;
  bottom: 155px;  
  margin-left: 10px;
  /* transform: translate(-50%, -50%); */
  color: black;
}
.det4-2{
  position: relative;
  flex-direction: row;
  bottom: 75px;
  margin-left: 180px;  
  /* transform: translate(-50%, -50%); */
  color: black;
}
.det4-3{
  position: relative;
  flex-direction: row;
  bottom: 75px;
  margin-left: 200px;  
  /* transform: translate(-50%, -50%); */
  color: black;
}
.det4-4{
  position: relative;
  flex-direction: row;
  bottom: 75px;
  margin-left: 170px;  
  color: black;
}
.det4-5{
  position: relative;
  flex-direction: row;
  bottom: 25%;
  margin-left: 10px;  
  color: black;
}

